
.path-0 {
  animation: pathAnim-0 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path("M 0,700 L 0,105 C 150.40000000000003,133.8 300.80000000000007,162.6 475,147 C 649.1999999999999,131.4 847.2,71.4 1012,57 C 1176.8,42.6 1308.4,73.8 1440,105 L 1440,700 L 0,700 Z");
  }

  25% {
    d: path("M 0,700 L 0,105 C 183.59999999999997,118.73333333333333 367.19999999999993,132.46666666666667 538,131 C 708.8000000000001,129.53333333333333 866.8,112.86666666666667 1015,106 C 1163.2,99.13333333333333 1301.6,102.06666666666666 1440,105 L 1440,700 L 0,700 Z");
  }

  50% {
    d: path("M 0,700 L 0,105 C 139.7333333333333,81.66666666666667 279.4666666666666,58.33333333333334 421,72 C 562.5333333333334,85.66666666666666 705.8666666666668,136.33333333333331 876,148 C 1046.1333333333332,159.66666666666669 1243.0666666666666,132.33333333333334 1440,105 L 1440,700 L 0,700 Z");
  }

  75% {
    d: path("M 0,700 L 0,105 C 190.53333333333336,121.66666666666666 381.0666666666667,138.33333333333331 546,135 C 710.9333333333333,131.66666666666669 850.2666666666667,108.33333333333334 995,100 C 1139.7333333333333,91.66666666666666 1289.8666666666668,98.33333333333333 1440,105 L 1440,700 L 0,700 Z");
  }

  100% {
    d: path("M 0,700 L 0,105 C 150.40000000000003,133.8 300.80000000000007,162.6 475,147 C 649.1999999999999,131.4 847.2,71.4 1012,57 C 1176.8,42.6 1308.4,73.8 1440,105 L 1440,700 L 0,700 Z");
  }
}

.path-1 {
  animation: pathAnim-1 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path("M 0,700 L 0,245 C 192.40000000000003,227.26666666666665 384.80000000000007,209.53333333333333 528,217 C 671.1999999999999,224.46666666666667 765.2,257.1333333333333 909,266 C 1052.8,274.8666666666667 1246.4,259.93333333333334 1440,245 L 1440,700 L 0,700 Z");
  }

  25% {
    d: path("M 0,700 L 0,245 C 187.86666666666667,227.53333333333333 375.73333333333335,210.06666666666666 537,212 C 698.2666666666667,213.93333333333334 832.9333333333334,235.26666666666668 979,244 C 1125.0666666666666,252.73333333333332 1282.5333333333333,248.86666666666667 1440,245 L 1440,700 L 0,700 Z");
  }

  50% {
    d: path("M 0,700 L 0,245 C 154.40000000000003,246.46666666666667 308.80000000000007,247.93333333333334 483,256 C 657.1999999999999,264.06666666666666 851.2,278.73333333333335 1014,278 C 1176.8,277.26666666666665 1308.4,261.1333333333333 1440,245 L 1440,700 L 0,700 Z");
  }

  75% {
    d: path("M 0,700 L 0,245 C 126,235.66666666666666 252,226.33333333333331 420,228 C 588,229.66666666666669 798,242.33333333333334 975,247 C 1152,251.66666666666666 1296,248.33333333333331 1440,245 L 1440,700 L 0,700 Z");
  }

  100% {
    d: path("M 0,700 L 0,245 C 192.40000000000003,227.26666666666665 384.80000000000007,209.53333333333333 528,217 C 671.1999999999999,224.46666666666667 765.2,257.1333333333333 909,266 C 1052.8,274.8666666666667 1246.4,259.93333333333334 1440,245 L 1440,700 L 0,700 Z");
  }
}

.path-2 {
  animation: pathAnim-2 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
  0% {
    d: path("M 0,700 L 0,385 C 131.2,378.8666666666667 262.4,372.7333333333333 448,365 C 633.6,357.2666666666667 873.5999999999999,347.93333333333334 1048,351 C 1222.4,354.06666666666666 1331.2,369.5333333333333 1440,385 L 1440,700 L 0,700 Z");
  }

  25% {
    d: path("M 0,700 L 0,385 C 131.33333333333331,383.79999999999995 262.66666666666663,382.59999999999997 413,371 C 563.3333333333334,359.40000000000003 732.6666666666667,337.4 907,338 C 1081.3333333333333,338.6 1260.6666666666665,361.8 1440,385 L 1440,700 L 0,700 Z");
  }

  50% {
    d: path("M 0,700 L 0,385 C 135.33333333333331,372.73333333333335 270.66666666666663,360.46666666666664 443,353 C 615.3333333333334,345.53333333333336 824.6666666666667,342.8666666666667 997,349 C 1169.3333333333333,355.1333333333333 1304.6666666666665,370.06666666666666 1440,385 L 1440,700 L 0,700 Z");
  }

  75% {
    d: path("M 0,700 L 0,385 C 119.86666666666667,381.26666666666665 239.73333333333335,377.5333333333333 420,390 C 600.2666666666667,402.4666666666667 840.9333333333334,431.1333333333334 1021,433 C 1201.0666666666666,434.8666666666666 1320.5333333333333,409.9333333333333 1440,385 L 1440,700 L 0,700 Z");
  }

  100% {
    d: path("M 0,700 L 0,385 C 131.2,378.8666666666667 262.4,372.7333333333333 448,365 C 633.6,357.2666666666667 873.5999999999999,347.93333333333334 1048,351 C 1222.4,354.06666666666666 1331.2,369.5333333333333 1440,385 L 1440,700 L 0,700 Z");
  }
}

.path-3 {
  animation: pathAnim-3 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-3 {
  0% {
    d: path("M 0,700 L 0,525 C 195.59999999999997,545.2666666666667 391.19999999999993,565.5333333333334 559,561 C 726.8000000000001,556.4666666666666 866.8,527.1333333333333 1009,517 C 1151.2,506.8666666666667 1295.6,515.9333333333334 1440,525 L 1440,700 L 0,700 Z");
  }

  25% {
    d: path("M 0,700 L 0,525 C 152.2666666666667,530.2 304.5333333333334,535.4 475,540 C 645.4666666666666,544.6 834.1333333333334,548.5999999999999 998,546 C 1161.8666666666666,543.4000000000001 1300.9333333333334,534.2 1440,525 L 1440,700 L 0,700 Z");
  }

  50% {
    d: path("M 0,700 L 0,525 C 169.0666666666666,539.8 338.1333333333332,554.6 496,551 C 653.8666666666668,547.4 800.5333333333335,525.4 956,518 C 1111.4666666666665,510.6 1275.7333333333331,517.8 1440,525 L 1440,700 L 0,700 Z");
  }

  75% {
    d: path("M 0,700 L 0,525 C 149.59999999999997,496.4666666666667 299.19999999999993,467.93333333333334 454,476 C 608.8000000000001,484.06666666666666 768.8,528.7333333333333 934,543 C 1099.2,557.2666666666667 1269.6,541.1333333333333 1440,525 L 1440,700 L 0,700 Z");
  }

  100% {
    d: path("M 0,700 L 0,525 C 195.59999999999997,545.2666666666667 391.19999999999993,565.5333333333334 559,561 C 726.8000000000001,556.4666666666666 866.8,527.1333333333333 1009,517 C 1151.2,506.8666666666667 1295.6,515.9333333333334 1440,525 L 1440,700 L 0,700 Z");
  }
}